// colors
$color-gray : #90A0B7;;
$color-white: #FFFFFF;
$color-accent-blue: #109CF1;
$color-dark-blue: #334D6E;
$color-black:#192A3E;
$color-green:#2ED47A;
$color-red:#F7685B;
$color-yellow:#FFB946;
