
@import '../../../public/assets/_variables';
.cv-home {
    padding: 34px;
    .cv-row {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:$table-width) {
            flex-direction: column;

           
        }
    }
   
    @media screen and (max-width:$table-width) {
        padding: 12px;
    }
}

@keyframes fade-in {
    to {
      opacity: 1;
    }
  }