
@import '../../../public/assets/_variables';
.cv-home {
    padding: 12px;
    .cv-row {
        display: flex;
        justify-content: space-between;
        &:not(:first-child) {
            margin-top: 12px;
        }

        .cv-stats-card {
            width: 100%;
            &:not(:first-child) {
                margin-left: 12px;
            }

            @media screen and (max-width:$table-width) {
                
            &:not(:first-child) {
                margin-top: 16px;
                margin-left: 0;
            }
               
            }

        }
        @media screen and (max-width:$table-width) {
            flex-direction: column;
           
        }
    }

    .cv-stats-table {
        margin-top: 12px;
    }
   
}

@keyframes fade-in {
    to {
      opacity: 1;
    }
  }
