.select {
    margin: 10px 0px;
    select {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
}

@media screen and (max-width: 480px) {
    .select {
        margin: 0px 0px 10px;
    }
  }