@import '../../../public/assets/variables';

.cv-toolbar {
    width: 100%;
    padding: 17px 24px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    width: 100%;
    .cv-brand {
        font-size: 18px;
        font-weight: 600;
        color: $color-accent-blue;
        margin: 0;
        a {
            text-decoration: none;
            color: inherit;
        }
        @media screen and (max-width:$table-width) {
            margin-left: 0;
        }
    }

    .right-side {
        margin-left: auto;
        display: flex;
        align-items: center;
        .links-container {
            margin-right: 36px;
            list-style: none;
            li {
                a {
                    color: inherit;
                    text-decoration: none;
                    span {
                        font-size: medium;
                        color: inherit;
                        font-weight: 600;

                    }
                }

                &:hover {
                    color: $color-accent-blue;
                }
            }
            @media screen and (max-width:$table-width) {
                margin-right: 12px;
                
            }
        }
    }
    @media screen and (max-width:$table-width) {
        padding: 12px;
    }
}
