@import '../../../public/assets/variables';

.cv-toolbar {
    width: 100%;
    padding: 17px 24px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    width: 100%;
    .cv-brand {
        font-size: 18px;
        font-weight: 600;
        color: $color-accent-blue;
        margin: 0;
        @media screen and (max-width:$table-width) {
            margin-left: 0;
        }
    }

    .cv-switch {
        margin-left: auto;
    }
    @media screen and (max-width:$table-width) {
        padding: 12px;
    }
}
