@import '../../../public/assets/variables';

.cv-toolbar {
    width: 100%;
    padding: 17px 24px;
    height: 60px;
    background-color: $color-white;
    .cv-brand {
        font-size: 18px;
        font-weight: 600;
        color: $color-accent-blue;
        @media screen and (max-width:$table-width) {
            margin-left: 0;
            font-size: 24px;
        }
    }
    border-bottom: 2px solid #cccccc;
}