@import '../../../public/assets/variables';

.cv-table {
    margin-top: 12px;
    overflow-x:scroll;
    overflow-y:visible;

    table {
        width: 100%;
        border-collapse: collapse;
        tr {
            border-bottom: 1px solid $color-gray-2;
            padding: 12px;
            opacity: 0;
            animation: fade-in 300ms ease forwards;
            &:hover {
                cursor: pointer;
                background-color: rgba(194, 207, 224, 0.5);
            }
            th,td {
                color: $color-dark-blue;
                text-align: left;
                padding: 12px 8px;
            }
            @for $x from 1 through 100 {
                &:nth-child(#{$x}) {
                  animation-delay: 10ms * ($x - 1);
                }
              }
              &:nth-child(even) {
                  background-color: rgba(194, 207, 224, 0.5);
              }
        }

        .cv-state-name {
            font-weight: 500;
            font-size: 15px;
            color: $color-black;
        }

        @media screen and (max-width:$table-width) {
            td,th {
                font-size: smaller;

            }
            .cv-state-name {
                font-size: smaller;
            }
            
        }
    }
}
